/* *{
    background-color: aqua;
} */

/* navigation section  */
#navbar{
    flex-direction: column;
}

#navbar::before {
    height: 0px;

}

/* home section  */

#home{

}

#home::before{
    height: 664px;
}

/* template section */

#template{
    flex-direction: column;
}
#template2{
    flex-direction: column;
}

/* contact us section */
#contact{

}

/* footer */


/* utility class */

