.custom_nav{
    font-size: small;
    box-shadow: 0px 2px 12px rgba(0,0,0,0.3);
}

.custom-dividor{
    height: 5px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(15,113,220,1) 17%, rgba(9,9,121,1) 31%, rgba(17,123,222,1) 52%, rgba(1,103,175,1) 69%, rgba(19,62,148,1) 85%, rgba(0,212,255,1) 100%);
}

.main-banner{
    padding-top: 100px;
    padding-bottom: 60px;
    padding-left: 25px;
    color: white;
    background-image: url(../Assert/tempbanner3.jpg);
    background-size: cover;
}

.feature-holder{
    text-align: center;
    margin-bottom: 25px;
}

.features{
    padding-top: 26px;
    padding-bottom: 27px;
    background-color: rgb(247, 244, 244);
}

.feature-holder h3{
    font-size: 1.2rem;
}
.feature-holder p{
    font-size: 14px;
}


section.online-courses,.classroom-training {
    padding-top: 35px;
    padding-bottom: 35px;
}

.online-courses-text-widget,.classroom-courses-text-widget {
    text-align: center;
}
.online-courses-text-widget h2 ,.classroom-courses-text-widget h2{
    font-size: 1.2rem;
}

.online-courses-text-widget p,.classroom-courses-text-widget p{
    /* text-align: center; */
    font-size: 14px;
}

.online-course-card h3{
    font-size: 1.2rem;
}

.online-course-card .card-text{
    font-size: 14px;
}

.online-course-card{
    text-align: center;
    margin-bottom: 25px;
}

.classroom-training{
    background-color: whitesmoke;
    justify-content: center;
}